<nav class="navbar-source">
  <div class="logo">
    <%= image_tag ('logo.png'), height: 40 %>
  </div>
  <ul class="nav-links">
    <li class="nav-item active">
      <%= link_to jackpot_path do %>
          <%= t(".jackpot", default: "jackpot") %>
        <% end %>
    </li>

  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
