<section class="home">
  <div class="main-title">
    <h1 id="gamejs">Game<span>js</span></h1>
  </div>
  <div class="subtitle">
    <h4>Developped with Pure Javascript Codes</h4>
  </div>
  <div class="cards">
    <div class="card">
      <h3>JACKPOT</h3>
      <%= link_to '', jackpot_path, class: "card-link" %>
    </div>
    <div class="card">
      COMING SOON...
    </div>
  </div>
  <div class="dev text-center mt-5">
    <h4>by</h4>
    <div class="logo">
      <%= image_tag ('logo.png') %>
    </div>
  </div>
</section>

