.navbar-gamejs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: $dark-gray;
  background-size: cover;
}

#nav-name {
  color: $light-gray;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-name span{
  color: #FFD601;
}
